* {
	background-image: url("./icloud.jpg") !important;
	background-repeat: repeat-y;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 0px !important;
} 