div[id="uc-ent"],a[target="_blank"][href="http://ur.taobao.com/survey/view.htm?id=222"]
{display: none !important;}

div[class="tstart-areas"][style="box-shadow: 0px 0px 5px #000;-moz-box-shadow: 0px 0px 5px #000;-webkit-box-shadow: 0px 0px 5px #000;"],div[class="col-sub"],div[class="crumb"]
{display: none !important;},